{% extends 'web/base.html' %}

{% block content %}
    <div class="graph-cont">
        {% if stock_view %}
            <div class="graph_filter_cont">
                <form class="graph_filter_cont" action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}

                        <div class ="stock_filter_field">{{ field.label_tag }}<br>{{ field }}</div>
                    {% endfor %}
                    <input class = "graph_filter_btn" type="submit" value="Построить прогноз">
                </form>
            </div>
        {% endif %}
        <div class="graph-header">
            {{ stock.title }}
        </div>
        <div class="graph-body-cont">
            <img class="graph_img" src="{% url 'plot_pic' %}" alt="График предсказания">
        </div>
    </div>
{% endblock content %}