{% extends 'web/base.html' %}

{% block content %}
    <div class="graph-cont">
        {% if stock_view %}
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}
                    <div>{{ field }}</div>
                {% endfor %}
                <input type="submit" value="Построить прогноз">
            </form>
        {% endif %}
        <div class="graph-header">
            {{ stock.title }}
        </div>
        <div class="graph-body-cont">
            <img class="graph_img" src="{% url 'plot_pic' %}" alt="График предсказания">
        </div>
    </div>
{% endblock content %}