{% extends 'web/base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="stock_filter_cont">
            {% for field in filter_form %}
                <div class="stock_filter_field">{{ field }}</div>
            {% endfor %}
            <input class="stock_filter_btn" type="submit" value="Подтвердить">
        </div>
    </form>

    {% if stocks|length != 0 %}
        <ul>
            {% for stock in stocks %}
                <li class = stock_selection_item>&nbsp
                    <table>
                        <tr>
                            <td>
                                <p>
                                    <a href="{% url 'stock' stock.id %}"><b>{{ stock.title }}</b></a>
                                </p>
                                <p><i>Тег: {{ stock.tag }}</i></p>
                                <p><i>Рынок: {{ stock.market.title }}</i></p>
                                <p><i>Тип ЦБ: {{ stock.type.title }}</i></p>
                                <p><small>Описание: {{ stock.description }}</small></p>
                            </td>
                        </tr>
                    </table>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}