{% extends 'web/base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in filter_form %}
            {{ field.label_tag }}
            <div>{{ field }}</div>
        {% endfor %}
        <input type="submit" value="Найти">
    </form>

    {% if stocks|length != 0 %}
        <h1>Ценные бумаги:</h1>
        <ul>
            {% for stock in stocks %}
                <li>&nbsp
                    <table>
                        <tr>
                            <td>
                                <p>
                                    <a href="{% url 'stock' stock.id %}"><b>{{ stock.title }}</b></a>
                                </p>
                                <p><i>Тег: {{ stock.tag }}</i></p>
                                <p><i>Рынок: {{ stock.market.title }}</i></p>
                                <p><i>Тип ЦБ: {{ stock.type.title }}</i></p>
                                <p><small>Описание: {{ stock.description }}</small></p>
                            </td>
                        </tr>
                    </table>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}